In [1]:
import pandas as pd

In [2]:
heart = pd.read_csv("heart_failure_clinical_records_dataset.csv")
heart.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [3]:
x = heart.drop(["DEATH_EVENT"],axis = 1)
y = heart["DEATH_EVENT"]

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [7]:
li = RandomForestClassifier()
li.fit(x_train,y_train)

RandomForestClassifier()

In [8]:
y_pred = li.predict(x_test)
y_pred_ = [1 if y >=0.5 else 0 for y in y_pred]

In [9]:
y_pred_

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0]

In [10]:
print(pd.DataFrame({"正解":y_test,"予測":y_pred_,"結果":y_test == y_pred_}))

     正解  予測     結果
284   0   0   True
254   0   0   True
218   0   0   True
219   0   0   True
176   0   0   True
..   ..  ..    ...
137   0   1  False
220   1   1   True
34    1   0  False
252   0   0   True
133   0   0   True

[90 rows x 3 columns]

In [11]:
from sklearn.metrics import confusion_matrix

In [12]:
print(confusion_matrix(y_test, y_pred_))

[[57  2]
 [11 20]]

In [13]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_))

              precision    recall  f1-score   support

           0       0.84      0.97      0.90        59
           1       0.91      0.65      0.75        31

    accuracy                           0.86        90
   macro avg       0.87      0.81      0.83        90
weighted avg       0.86      0.86      0.85        90